body {
    width: 320px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px 32px 10px 12px;
    scrollbar-width: none;
    overflow-x: hidden;
}

#popup-container {
    text-align: center;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 4px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
button:disabled {
    background: grey;
    pointer-events: none;
    cursor: auto;
}

p {
    font-size: 14px;
    color: green;
}

.input-settings-section{
    display: block;
    text-align: start;
    margin-bottom: 12px;
}
.input-settings-section .input-settings-title{
    margin-bottom: 4px;
}
.input-settings-section > label{
    display: block;
}

.input-label{
    font-size: 11px;
}
#fileFormat{
    font-size: 11px;
}

/* Styles for Transaction Download Section */
.transaction-download {
    margin-top: 10px;
    padding: 8px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

.transaction-download h3 {
    font-size: 14px;
}

.transaction-download .description {
    text-align: start;
    font-size: 11px;
}

.transaction-download .description .note{
    text-align: start;
    font-size: 11px;
    font-style: italic;
}

.transaction-download label {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.transaction-download input {
    width: 80%;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#status-message{
    margin-top: 5px;
    font-size: 12px;
}

#errorMessage {
    color: red;
    display: none; /* Hidden by default */
    margin-top: 5px;
    font-size: 12px;
}

/* Styling the arrange columns section */
.column-order-section {
    margin: 12px 0px;
    padding: 4px;
    background: #f8f9fa;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.column-order-title {
    font-size: 12px;
    margin: 4px 0px;
    font-weight: bold;
}
#column-container {
    display: flex;
    gap: 8px;
    padding: 4px;
    background: #f5f5f5;
    border-radius: 8px;
    overflow-x: auto;
    white-space: nowrap;
}

.column-item {
    margin-inline: 0px;
    padding: 4px 6px;
    background: #498647;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: grab;
    user-select: none;
    transition: all 0.2s ease-in-out;
    font-size: 12px;
}
.column-item:hover{
    background: #365c35;
}

.column-item.dragging {
    opacity: 0.6;
    transform: scale(1.05);
}